---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-8">
    <h1 class="text-3xl md:text-6xl font-bold mb-8">About me</h1>
    <p class="max-w-xl mx-auto">
      I'm a software engineer with a passion for building scalable and efficient
      systems. I'm currently working as a software engineer at Google.
    </p>
    <h2 class="text-2xl font-bold mb-4">Education</h2>
    <p>education timeline goes here...</p>
    <h2 class="text-2xl font-bold mb-4">Skills</h2>
    <h3 class="text-xl font-bold mb-4">Frontend</h3>
    <ul>
      <li>React</li>
      <li>Astro</li>
      <li>Tailwind CSS</li>
      <li>Shadcn UI</li>
      <li>daisyUI</li>
      <li>TypeScript</li>
      <li>TanStack</li>
    </ul>
    <h3 class="text-xl font-bold mb-4">Backend</h3>
    <ul>
      <li>Supabase</li>
      <li>MySQL</li>
      <li>PostgreSQL</li>
    </ul>
    <h3 class="text-xl font-bold mb-4">More</h3>
    <ul>
      <li>Git</li>
      <li>GitHub</li>
      <li>Node.js</li>
      <li>VS Code</li>
      <li>Cursor</li>
      <li>Linux</li>
    </ul>
  </section>
</Layout>
