---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-8">
    <h1 class="text-3xl md:text-6xl font-bold mb-8">About me</h1>
    <p class="max-w-xl mx-auto">
      I'm a software engineer with a passion for building scalable and efficient
      systems. I'm currently working as a software engineer at Google.
    </p>
    <h2 class="text-2xl font-bold mb-4">Education</h2>
    <h2 class="text-2xl font-bold mb-4">Skills</h2>
    <ul>
      <li>React</li>
      <li>Next.js</li>
      <li>Tailwind CSS</li>
      <li>Typescript</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>MongoDB</li>
      <li>PostgreSQL</li>
      <li>Docker</li>
      <li>Kubernetes</li>
      <li>AWS</li>
      <li>CI/CD</li>
      <li>Git</li>
      <li>GitHub</li>
    </ul>
  </section>
</Layout>
