---
import "../styles/global.css";
---

<nav class="flex justify-center sticky top-0 z-50">
  <div
    class="flex w-fit m-4 bg-gray-900/30 border border-gray-800 rounded-lg shadow-lg shadow-fuchsia-500/10 backdrop-blur-xl"
  >
    <ul class="flex">
      <li>
        <div class="nav-link-container">
          <a href="/">Home</a>
        </div>
      </li>
      <li>
        <div class="nav-link-container">
          <a href="/about">About</a>
        </div>
      </li>
      <li>
        <div class="nav-link-container">
          <a href="/projects">Projects</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
