<div class="flex justify-center gap-4">
  <a href="https://github.com/jamdaniels" target="_blank">
    <img
      src="/github-mark.svg"
      alt="GitHub"
      class="w-12 h-12 hover:scale-110 transition-all duration-300"
    />
  </a>
  <a href="https://x.com/coding_jam" target="_blank">
    <img
      src="/x-social.svg"
      alt="X (former Twitter)"
      class="w-12 h-12 hover:scale-110 transition-all duration-300"
    />
  </a>
</div>
