---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-8">
    <h1 class="text-3xl md:text-6xl font-bold mb-8">Asset Tracker</h1>
    <p class="max-w-xl mx-auto">
      Asset Tracker is a simple, clean, and beautiful app to track your assets.
    </p>
  </section>
</Layout>
