---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-8">
    <h1 class="text-3xl md:text-6xl font-bold mb-8">Spendy</h1>
    <p class="max-w-xl mx-auto">
      Spendy is a clean, simle app to track your spending.
    </p>
  </section>
</Layout>
