---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="text-center space-y-8">
    <h1 class="text-3xl md:text-6xl font-bold mb-8">ZenWrite</h1>
    <p class="max-w-xl mx-auto">
      ZenWrite is a simple, clean, and beautiful text editor that is designed to
      help you write your thoughts and ideas.
    </p>
  </section>
</Layout>
